<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :url %>
  <%= form.text_field :url %>
  <%= form.label :content %>
  <%= form.text_area :content %>
  <!-- Doing checkboxes by plain HTML -->
  <input type="hidden" name="post[sub_ids][]" value="">
  <% Sub.all.each do |sub| %>
    <label>
      <%= sub.title %>
      <input type="checkbox" name="post[sub_ids][]" value=<%= sub.id %>
      <%= "checked" if post.sub_ids.include?(sub.id) %>>
    </label>
  <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
